nav {
  padding: 10px;
  border-bottom: 1px solid black;
  /* background-color: #e8b787; */
}

footer {
  width: 100%;
  min-height: 50px;
  justify-content: center;
  background-color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  /* background-color: #e8b787; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  position: relative;
}

.copy-right {
  padding: 10px;
  justify-content: center;
}
